#one{
    background-color: brown; 
    height: 200px;
    width: 200px;

}

#two{
    background-color: rgb(182, 177, 186);
    height: 200px;
    width: 200px;
}

#three{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}