#one{
    background-color: brown; 
    height: 200px;
    width: 200px;
    border: 3px solid  black;
    padding: 50px;
    margin: 3px;
}

#two{
    background-color: rgb(84, 83, 86);
    height: 200px;
    width: 200px;
}

#three{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}